.env

venv/

__pycache__/
*.py[cod]
*$py.class
*.pyo

venv/
.venv/
env/
ENV/
pip-wheel-metadata/
.python-version


.vscode/
.idea/
*.iml

.DS_Store
Thumbs.db
ehthumbs.db
Desktop.ini

celerybeat-schedule
celerybeat.pid